

/*

FADCBE - tan headshot bg
7A5938 - brown
FBB773 - orange
C7AF97 - grey tan
FFF6E9 - background of card
C7B59E - background of page
591C0E - maroon
496F80 - grey blue
3C4042 - dark grey
0BC9C0 - teal

*/

body {
  background-color: #C7B59E;
}

.header-section {
  background-color: #7A5938;
  padding: 20px;
}

.avatar {
  width: 280px;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
  /*text-align: center;*/
  position: relative;
}

.bg-tan {
  /*background-color: #FADCBE;*/
  border-bottom: 1px solid #C7AF97;
  background: #FADCBE; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#FFF6E9, #FADCBE); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#FFF6E9, #FADCBE); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#FFF6E9, #FADCBE); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#FFF6E9, #FADCBE); /* Standard syntax */
}


figure {
	width: 280px;
	height: 150px;
	margin: 0;
	padding: 0;
	/*background: #fff;*/
	overflow: hidden;
}

.text-subtitle {
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
  color: #C7B59E;
  text-transform: uppercase;
}

.views-big {
  font-family: 'Varela Round', sans-serif;
  position: absolute;
  right: 20px;
  top: 5px;
  font-size: 12px;
}

.bigly {
  font-size: 30px;
  color: #FBB773;
}

.text-title {
  font-family: 'Lilita One', cursive;
  font-size: 40px;
  color: #FFF6E9;
}

.bio {
  padding: 100px 20px;
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
}

.bio p {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

/* Slide */
.card {
  margin: 50px;
  display: inline-block;
  border: 1px solid #C7AF97;
  background-color: #FFF6E9;
}

.card figure img {
	margin-left: 10px;
	/*-webkit-transform: scale(1.5);
	transform: scale(1.5);*/
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.card figure:hover img {
	margin-left: 0;
}
